/*breathing animation css */
@keyframes breathe  {
    from {
        transform: scale(.8);
    }
    to { 
        transform: scale(1.2);
    }
}
    #loader {
        animation: 3s ease-in-out infinite breathe alternate;
    }

/*nav bar css */
    nav {
        overflow: hidden;
        background-color: #00e1ffbb;
    }
    nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    nav a:hover {
        background-color: #00ff4c;
        color: black;
    }

    nav a.active {
        background-color: #fd5d00;
        color: white;
    }